.panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid {
  padding: 20px;
  display: grid;
  grid-template-columns: 250px 1fr 1fr 1fr 1fr;
  gap: 10px;
  row-gap: 10px;
  border-radius: 10px;
  height: 186px;
}

.actions {
  display: flex;
  gap: 10px;
}

.btnReset,
.btnApply {
  cursor: pointer;
  transition: all 0.15s ease;
  border: none;
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}

.value,
.placeholder {
  font-size: 14px;
}

.select {
  border-radius: 8px;
  height: 46px !important;
  align-items: baseline;
  border-radius: 8px !important;
  margin-top: 2px;
}

.selectInput {
  padding: 20px 42px 20px 14px !important;
}

.badges {
  display: flex;
  gap: 10px;
}

.badge {
  height: 32px;
  width: 200px;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.15s ease;

  :global(.MuiChip-label) {
    padding: 0;
  }
}
