.main {
  padding-inline: 20px;
  padding-block: 10px;
  flex: 1;
  width: 100%;
}

.title {
  width: fit-content;
  padding: 4px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section {
  padding: 20px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
